<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <!--    =====================-->

    <link rel="stylesheet" href="/assets/vendor/select2/select2.css">
    <link rel="stylesheet" href="/assets/vendor/select2/select2.min.css">


    <style>

        #imageContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .imagePreview {
            margin: 10px;
            position: relative;
        }

        .deleteButton {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .uploadButton {
            cursor: pointer;
            background-color: #0f083b;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            margin-top: 10px;
        }

        .select2-container .select2-selection__choice {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        .select2-selection__choice--selected {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        /* Đổi màu nền khi hover tag */
        .select2-container .select2-selection__choice:hover {
            background-color: #0056b3;
        }

        /* Đổi màu nền khi click vào tag */
        .select2-container .select2-selection__choice.select2-selection__choice--selected {
            background-color: #0056b3;
        }

        /* Đổi màu nền input khi nhập dữ liệu */
        .select2-container .select2-selection--multiple .select2-selection__rendered {
            background-color: #ffffff;
            padding: 5px;
        }

        /* Đổi màu nền icon xóa tag */
        .select2-container .select2-selection__choice__remove {
            color: #fff;
        }

    </style>

</head>
<body onload="time()" class="app sidebar-mini rtl">
<div th:replace="~{layout/navbar :: navbar}"></div>

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/product">Danh sách sản phẩm</a></li>
            <li class="breadcrumb-item"><a href="#">Thêm sản phẩm</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới sản phẩm</h3>
                <div class="row element-button">
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addthuonghieu"><i
                                class="fas fa-folder-plus"></i> Thêm thương hiệu</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#adddanhmuc"><i
                                class="fas fa-folder-plus"></i> Thêm danh mục</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addloaihang"><i
                                class="fas fa-folder-plus"></i> Thêm loại hàng</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addsize"><i
                                class="fas fa-folder-plus"></i> Thêm kích cỡ</a>
                    </div>
                    <div class="col-sm-2">
                        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addcolor"><i
                                class="fas fa-folder-plus"></i> Thêm màu sắc</a>
                    </div>
                </div>
                <form id="myForm" class="row" th:action="@{/admin/product/new}" th:object="${product}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group col-md-4">
                        <label class="control-label">Mã sản phẩm </label>
                        <input class="form-control" type="text" th:field="*{maSp}" placeholder="nhập mã hoặc tự sinh">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Tên sản phẩm <sup style="color: red">(*)</sup></label>
                        <input class="form-control" type="text" required th:field="*{name}">
                    </div>
                    <div class="form-group col-md-4 ">
                        <label for="exampleSelect2" class="control-label">Loại sản phẩm<sup style="color: red">(*)</sup></label>
                        <select class="form-control" id="exampleSelect2" required th:field="*{typeProduct}">
                            <option th:each="x : ${types}" th:value="${x.id}" th:text="${x.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Họa tiết<sup style="color: red">(*)</sup></label>
                        <input class="form-control" type="text" required th:field="*{pattern}">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Kiểu dáng<sup style="color: red">(*)</sup></label>
                        <input class="form-control" type="text" required th:field="*{style}">
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Chất liệu<sup style="color: red">(*)</sup></label>
                        <input class="form-control" type="text" required th:field="*{fabric}">
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Hướng dẫn giặt<sup style="color: red">(*)</sup></label>
                        <input class="form-control" type="text" required th:field="*{manual}">
                    </div>
                    <div class="form-group col-md-3 ">
                        <label for="exampleSelect1" class="control-label">Thương hiệu<sup style="color: red">(*)</sup></label>
                        <select class="form-control" id="exampleSelect1" th:field="*{brand}" required>
                            <option th:each="x : ${brands}" th:value="${x.id}" th:text="${x.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Màu sắc<sup style="color: red">(*)</sup></label>
                        <select class="js-example-tags form-control" multiple data-live-search="false" required
                                th:field="*{colors}">
                            <option th:each="x : ${colors}" th:value="${x.id}"
                                    th:text="${x.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Kích cỡ<sup style="color: red">(*)</sup></label>
                        <select class="js-example-tags form-control" multiple data-live-search="false" required
                                th:field="*{sizes}">
                            <option th:each="x : ${sizes}" th:value="${x.id}" th:text="${x.name}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Ảnh sản phẩm<sup style="color: red">(*)</sup></label>
                        <div id="imageContainer">
                            <!-- Ảnh sẽ được hiển thị ở đây -->
                        </div>
                        <label for="fileInput" class="uploadButton">
                            <i class="fas fa-cloud-upload-alt"></i> Chọn ảnh
                        </label>
                        <input type="file" name="files[]" id="fileInput" required accept="image/*" multiple
                               style="display: none;" th:field="*{files}" min="1">
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Mô tả sản phẩm</label>
                        <textarea class="form-control" name="mota" id="mota"
                                  th:field="*{descriptionProduct}"></textarea>
                    </div>
                    <div class="col">
                        <button class="btn btn-save mr-2 submit-button " type="submit">Lưu lại</button>
                        <a class="btn btn-cancel ml-2" href="/admin/product">Hủy bỏ</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>
<div th:if="${message.status != null}">
    <div id="myAlert" class="alert alert-dismissible fade show position-fixed"
         style="top: 120px; right: 30px;width: 400px; height: 50px" th:classappend="${message.type}">
        <p th:text="${message.message}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!--
MODAL DANH MỤC
-->
<div class="modal fade" id="adddanhmuc" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới danh mục </h5>
              </span>
                </div>
                <form action="/admin/product/add-category" method="post">
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tên danh mục mới</label>
                        <input class="form-control" name="name" type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Danh mục hiện đang có</label>
                        <ul style="padding-left: 20px;">
                            <li th:each="x : ${categorys}" th:text="${x.name}"></li>
                        </ul>
                    </div>
                    <BR>
                    <button class="btn btn-save ml-3" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addthuonghieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group  col-lg-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới thương hiệu </h5>
              </span>
                </div>
                <form action="/admin/product/add-brand"  method="post">
                    <div class="form-group col-lg-12">
                        <label class="control-label">Nhập tên thương hiệu mới</label>
                        <input class="form-control" name="name" type="text" required>
                    </div>
                    <div class="form-group col-lg-12">
                        <label class="control-label">Thương hiệu hiện đang có</label>
                        <ul style="padding-left: 20px;">
                            <li th:each="x : ${brands}" th:text="${x.name}"></li>
                        </ul>
                    </div>
                    <BR>
                    <button class="btn btn-save ml-3" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
<!--
MODAL
-->
<div class="modal fade" id="addloaihang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="col">
                    <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới Loại hàng </h5>
              </span>
                    </div>
                    <form action="/admin/product/add-type" method="post">
                        <div class="form-group col-md-12">
                            <label class="control-label">Nhập tên loại hàng mới</label>
                            <input class="form-control" name="name" type="text" required>
                        </div>
                        <div class="form-group col-md-12 ">
                            <label for="exampleSelect" class="control-label">Thuộc danh mục</label>
                            <select class="form-control" name="category" id="exampleSelect">
                                <option th:each="x : ${categorys}"
                                        th:value="${x.id}" th:text="${x.name}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="control-label">Loại hàng hiện đang có</label>
                            <ul style="padding-left: 20px;">
                                <li th:each="x : ${types}" th:text="${x.name}"></li>
                            </ul>
                        </div>
                        <BR>
                        <button class="btn btn-save ml-3" type="submit">Lưu lại</button>
                        <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                        <BR>
                    </form>
                    <div class="modal-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addsize" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới kích cỡ </h5>
              </span>
                </div>
                <form action="/admin/product/add-size" method="post">
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tên kích cỡ mới</label>
                        <input class="form-control" name="name" type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Kích cỡ hiện đang có</label>
                        <ul style="padding-left: 20px;">
                            <li th:each="x : ${sizes}" th:text="${x.name}"></li>
                        </ul>
                    </div>
                    <BR>
                    <button class="btn btn-save ml-3" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addcolor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group  col-md-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới màu sắc </h5>
              </span>
                </div>
                <form action="/admin/product/add-color" method="post">
                    <div class="form-group col-md-12">
                        <label class="control-label">Nhập tên màu sắc mới</label>
                        <input class="form-control" name="name" type="text" required>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label">Màu sắc hiện đang có</label>
                        <ul style="padding-left: 20px;">
                            <li th:each="x : ${colors}" th:text="${x.name}"></li>
                        </ul>
                    </div>
                    <BR>
                    <button class="btn btn-save ml-3 " type="submit">Lưu lại</button>
                    <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main1.js"></script>
<!--===============================================================================================-->
<script src="/assets/assets/js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/assets/js/plugins/chart.js"></script>
<script src="/assets/vendor/select2/select2.js"></script>
<script src="/assets/vendor/select2/select2.min.js.js"></script>


<!--===============================================================================================-->
<script type="text/javascript">
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>
<script>
    const fileInput = document.getElementById('fileInput');
    const imageContainer = document.getElementById('imageContainer');

    fileInput.addEventListener('change', () => {
        // Kiểm tra và giới hạn số lượng tệp được chọn
        if (fileInput.files.length > 5) {
            alert('Chỉ được chọn tối đa 5 ảnh.');
            fileInput.value = ''; // Xóa chọn tệp
            return;
        }

        // Xóa các ảnh hiện có
        while (imageContainer.firstChild) {
            imageContainer.removeChild(imageContainer.firstChild);
        }

        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const imagePreview = document.createElement('div');
            imagePreview.className = 'imagePreview';

            const img = document.createElement('img');
            img.src = URL.createObjectURL(file);
            img.style.maxWidth = '200px';
            img.style.maxHeight = '200px';

            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'x';
            deleteButton.className = 'deleteButton';
            deleteButton.addEventListener('click', () => {
                imageContainer.removeChild(imagePreview);
            });

            imagePreview.appendChild(img);
            imagePreview.appendChild(deleteButton);

            imageContainer.appendChild(imagePreview);
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.js-example-tags').select2({
            tags: false
        });
    });
</script>
<script>
    // Lấy tham chiếu đến thông báo Bootstrap
    var myAlert = document.getElementById("myAlert");

    // Tự đóng thông báo sau 5 giây
    setTimeout(function () {
        myAlert.style.display = "none";
    }, 5000); // 5000 ms = 5 giây
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-link").on("click", function (event) {
            event.preventDefault();
            var deleteLink = $(this).attr("href");

            Swal.fire({
                title: "Xác nhận",
                text: "Bạn đã chắc chắn chưa, không hối hận chứ ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Chắc chắn",
                cancelButtonText: "À mà thôi",
            }).then((result) => {
                if (result.value) {
                    // Nếu người dùng xác nhận, chuyển hướng đến URL xóa
                    window.location.href = deleteLink;
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Bắt sự kiện click trên nút Submit
        $(".submit-button").on("click", function (event) {
            event.preventDefault();
            const form = document.getElementById("myForm");

            Swal.fire({
                title: "Xác nhận",
                text: "Bạn đã chắc chắn chưa, không hối hận chứ ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Chắc chắn",
                cancelButtonText: "À mà thôi",
            }).then((result) => {
                if (result.value) {
                    // Nếu người dùng xác nhận, gửi biểu mẫu
                    form.submit();
                }
            });
        });
    });
</script>
<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>