<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <!--    =====================-->

    <link rel="stylesheet" href="/assets/vendor/select2/select2.css">
    <link rel="stylesheet" href="/assets/vendor/select2/select2.min.css">


    <style>

        #imageContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .imagePreview {
            margin: 10px;
            position: relative;
        }

        .deleteButton {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .uploadButton {
            cursor: pointer;
            background-color: #0f083b;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            margin-top: 10px;
        }

        .select2-container .select2-selection__choice {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        .select2-selection__choice--selected {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        /* Đổi màu nền khi hover tag */
        .select2-container .select2-selection__choice:hover {
            background-color: #0056b3;
        }

        /* Đổi màu nền khi click vào tag */
        .select2-container .select2-selection__choice.select2-selection__choice--selected {
            background-color: #0056b3;
        }

        /* Đổi màu nền input khi nhập dữ liệu */
        .select2-container .select2-selection--multiple .select2-selection__rendered {
            background-color: #ffffff;
            padding: 5px;
        }

        /* Đổi màu nền icon xóa tag */
        .select2-container .select2-selection__choice__remove {
            color: #fff;
        }

    </style>

</head>
<body onload="time()" class="app sidebar-mini rtl">
<div th:replace="~{layout/navbar :: navbar}"></div>

<main class="app-content">

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Tạo mới khách hàng</h3>

                <form class="row" action="/admin/customer/add" th:object="${att}" method="post"
                      enctype="multipart/form-data" id="myForm">
                    <!--                    <div class="form-group col-md-3">-->
                    <!--                        <label class="control-label">mã kh </label>-->
                    <!--                        <input class="form-control" type="text">-->
                    <!--                    </div>-->
                    <div class="form-group col-md-4">
                        <label class="control-label">Tên khách hàng <label style="color:red;">*</label></label>
                        <input class="form-control" type="text" th:field="*{name}" id="tenKH">
                        <p id="errorTenKH" style="color: red;"></p>


                    </div>
                    <div class="form-group  col-md-4">
                        <label class="control-label">Số điện thoại <label style="color:red;">*</label></label>
                        <input class="form-control" type="text" th:field="*{phoneNumber}" id="sdtKH">
                        <p id="errorSDT" style="color: red;"></p>
                    </div>

                    <div class="form-group col-md-4 ">
                        <label class="control-label">Email <label style="color:red;">*</label></label>
                        <input class="form-control" type="text"  th:field="*{email}" id="emailKH">
                        <p id="errorEmail" style="color: red;"></p>
                    </div>


                    <div class="form-group  col-md-4">
                        <label class="control-label">Giới tính <label style="color:red;">*</label></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:value="1" th:field="*{gender}" checked/>
                            <label class="form-check-label">Nam</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" th:value="0" th:field="*{gender}"/>
                            <label class="form-check-label">Nữ</label>
                        </div>
                    </div>


                    <div class="form-group col-md-4">
                        <label class="control-label">Tỉnh/Thành phố <label style="color:red;">*</label></label>
                        <!--                        <input class="form-control" type="text" required th:field="*{province}" id="thanhPho">-->
                        <select class="form-control " id="city" aria-label=".form-select-sm" th:field="*{province}">
                            <option value="Name" selected>Chọn tỉnh thành</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Quận/Huyện <label style="color:red;">*</label></label>
                        <!--                        <input class="form-control" type="text" required th:field="*{district}" id="quanHuyen">-->
                        <select class="form-control " id="district" aria-label=".form-select-sm" th:field="*{district}">
                            <option value="" selected>Chọn quận huyện</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Phường/Xã <label style="color:red;">*</label> </label>
                        <!--                        <input class="form-control" type="text" required th:field="*{ward}" id="phuongXa">-->
                        <select class="form-control " id="ward" aria-label=".form-select-sm" th:field="*{ward}">
                            <option value="" selected>Chọn phường xã</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Đường <label style="color:red;">*</label></label>
                        <input class="form-control" type="text"  th:field="*{street}" id="streetKH">
                        <p id="errorStreetKH" style="color: red;"></p>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="control-label">Ảnh <label style="color:red;">*</label></label>

                        <!--                            <label  class="control-label">Chọn ảnh</label>-->
                        <input class="form-control" name="file" type="file" >


                    </div>

                    <p id="errorMessage" hidden></p>

                    <div class="col">


                        <button class="btn btn-save mr-2 submit-button " type="submit" >Lưu lại
                        </button>
                        <a class="btn btn-cancel ml-2" href="/admin/product">Hủy bỏ</a>
                    </div>

                </form>
            </div>
        </div>
    </div>


</main>

<!--<script>-->
<!--    function myFunction() {-->
<!--        // Get the value of the input field with id="numb"-->
<!--        let x = document.getElementById("tenKH").value;-->
<!--        let y = document.getElementById("sdtKH").value;-->
<!--        let a = document.getElementById("emailKH").value;-->
<!--        let b = document.getElementById("streetKH").value;-->


<!--        // If x is Not a Number or less than one or greater than 10-->
<!--        let tenKH;-->
<!--        let sdtKH;-->
<!--        let emailKH;-->
<!--        let streetKH;-->

<!--        if (x == "") {-->
<!--            tenKH = "Vui lòng nhập tên ";-->

<!--        }-->
<!--        if (x != "") {-->
<!--            tenKH = "";-->
<!--        }-->

<!--        if (y == "") {-->
<!--            sdtKH = "Vui lòng nhập số điện thoại";-->

<!--        }-->
<!--        if (y != "") {-->
<!--            sdtKH = "";-->
<!--        }-->

<!--        if (a == "") {-->
<!--            emailKH = "Vui lòng nhập email";-->

<!--        }-->
<!--        if (a != "") {-->
<!--            emailKH = "";-->
<!--        }-->

<!--        if (b == "") {-->
<!--            streetKH = "Vui lòng nhập tên đường/ngõ/xóm";-->

<!--        } if (b != "") {-->
<!--            streetKH = "";-->
<!--        }-->
<!--        document.getElementById("errorTenKH").innerHTML = tenKH;-->
<!--        document.getElementById("errorSDT").innerHTML = sdtKH;-->
<!--        document.getElementById("errorEmail").innerHTML = emailKH;-->
<!--        document.getElementById("errorStreetKH").innerHTML = streetKH;-->



<!--    }-->









<!--</script>-->


<!--<script type="text/javascript" src="/assets/js/plugins/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="/assets/js/plugins/dataTables.bootstrap.min.js"></script>-->


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main1.js"></script>
<!--===============================================================================================-->
<script src="/assets/assets/js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/assets/js/plugins/chart.js"></script>
<script src="/assets/vendor/select2/select2.js"></script>
<script src="/assets/vendor/select2/select2.min.js.js"></script>


<script>


//        document.addEventListener("DOMContentLoaded", function () {
//            $(".submit-button").on("click", function (event) {
//                event.preventDefault();
//        var tenKH = document.getElementById("tenKH").value;
//        var sdt = document.getElementById("sdtKH").value;
//        var email = document.getElementById("emailKH").value;
//        var thanhPho = document.getElementById("thanhPho").value;
//        var quanHuyen =document.getElementById("quanHuyen").value;
//        var phuongXa = document.getElementById("phuongXa").value;
//        var duong = document.getElementById("streetKH").value;
//        var now = new Date();
//
//        if (tenKH.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập tên khách hàng."
//            });
//            return;
//        }
//
//        if (sdt.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập số điện thoại khách hàng."
//            });
//            return;
//        }
//
//
//        if (email.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập email khách hàng."
//            });
//            return;
//        }
//
//        if (thanhPho.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập thành phố ."
//            });
//            return;
//        }
//        if (quanHuyen.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập quận/huyện."
//            });
//            return;
//        }
//
//
//        if (phuongXa.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập phường/xã."
//            });
//            return;
//        }
//
//
//        if (duong.trim() === "") {
//            Swal.fire({
//                icon: "error",
//                title: "Lỗi",
//                text: "Vui lòng nhập đường/ngõ/xóm."
//            });
//            return;
//        }
//
//
//
//        });
//    });
</script>


<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    //Thời Gian-->
<!--    function time() {-->
<!--        var today = new Date();-->
<!--        var weekday = new Array(7);-->
<!--        weekday[0] = "Chủ Nhật";-->
<!--        weekday[1] = "Thứ Hai";-->
<!--        weekday[2] = "Thứ Ba";-->
<!--        weekday[3] = "Thứ Tư";-->
<!--        weekday[4] = "Thứ Năm";-->
<!--        weekday[5] = "Thứ Sáu";-->
<!--        weekday[6] = "Thứ Bảy";-->
<!--        var day = weekday[today.getDay()];-->
<!--        var dd = today.getDate();-->
<!--        var mm = today.getMonth() + 1;-->
<!--        var yyyy = today.getFullYear();-->
<!--        var h = today.getHours();-->
<!--        var m = today.getMinutes();-->
<!--        var s = today.getSeconds();-->
<!--        m = checkTime(m);-->
<!--        s = checkTime(s);-->
<!--        nowTime = h + " giờ " + m + " phút " + s + " giây";-->
<!--        if (dd < 10) {-->
<!--            dd = '0' + dd-->
<!--        }-->
<!--        if (mm < 10) {-->
<!--            mm = '0' + mm-->
<!--        }-->
<!--        today = day + ', ' + dd + '/' + mm + '/' + yyyy;-->
<!--        tmp = '<span class="date"> ' + today + ' - ' + nowTime +-->
<!--            '</span>';-->
<!--        document.getElementById("clock").innerHTML = tmp;-->
<!--        clocktime = setTimeout("time()", "1000", "Javascript");-->

<!--        function checkTime(i) {-->
<!--            if (i < 10) {-->
<!--                i = "0" + i;-->
<!--            }-->
<!--            return i;-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--<script>-->
<!--    const fileInput = document.getElementById('fileInput');-->
<!--    const imageContainer = document.getElementById('imageContainer');-->

<!--    fileInput.addEventListener('change', () => {-->
<!--        // Kiểm tra và giới hạn số lượng tệp được chọn-->
<!--        if (fileInput.files.length > 5) {-->
<!--            alert('Chỉ được chọn tối đa 5 ảnh.');-->
<!--            fileInput.value = ''; // Xóa chọn tệp-->
<!--            return;-->
<!--        }-->

<!--        // Xóa các ảnh hiện có-->
<!--        while (imageContainer.firstChild) {-->
<!--            imageContainer.removeChild(imageContainer.firstChild);-->
<!--        }-->

<!--        const files = fileInput.files;-->
<!--        for (let i = 0; i < files.length; i++) {-->
<!--            const file = files[i];-->
<!--            const imagePreview = document.createElement('div');-->
<!--            imagePreview.className = 'imagePreview';-->

<!--            const img = document.createElement('img');-->
<!--            img.src = URL.createObjectURL(file);-->
<!--            img.style.maxWidth = '200px';-->
<!--            img.style.maxHeight = '200px';-->

<!--            const deleteButton = document.createElement('button');-->
<!--            deleteButton.innerHTML = 'x';-->
<!--            deleteButton.className = 'deleteButton';-->
<!--            deleteButton.addEventListener('click', () => {-->
<!--                imageContainer.removeChild(imagePreview);-->
<!--            });-->

<!--            imagePreview.appendChild(img);-->
<!--            imagePreview.appendChild(deleteButton);-->

<!--            imageContainer.appendChild(imagePreview);-->
<!--        }-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('.js-example-tags').select2({-->
<!--            tags: false-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    // Lấy tham chiếu đến thông báo Bootstrap-->
<!--    var myAlert = document.getElementById("myAlert");-->

<!--    // Tự đóng thông báo sau 5 giây-->
<!--    setTimeout(function () {-->
<!--        myAlert.style.display = "none";-->
<!--    }, 5000); // 5000 ms = 5 giây-->
<!--</script>-->
<!--<script type="text/javascript">-->
<!--    $(document).ready(function () {-->
<!--        $(".delete-link").on("click", function (event) {-->
<!--            event.preventDefault();-->
<!--            var deleteLink = $(this).attr("href");-->

<!--            Swal.fire({-->
<!--                title: "Xác nhận",-->
<!--                text: "Bạn đã chắc chắn chưa, không hối hận chứ ?",-->
<!--                icon: "warning",-->
<!--                showCancelButton: true,-->
<!--                confirmButtonText: "Chắc chắn",-->
<!--                cancelButtonText: "À mà thôi",-->
<!--            }).then((result) => {-->
<!--                if (result.value) {-->
<!--                    // Nếu người dùng xác nhận, chuyển hướng đến URL xóa-->
<!--                    window.location.href = deleteLink;-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if (this.value != "") {
                const result = data.filter(n => n.Name === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Name);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Name);
                }
            }
        };
    }
</script>


</body>

</html>