<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <style>

        #imageContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .imagePreview {
            margin: 10px;
            position: relative;
        }


        .deleteButton {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
            text-align: center;
        }

        .uploadButton {

            cursor: pointer;
            background-color: #0f083b;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body onload="time()" class="app sidebar-mini rtl">
<div th:replace="~{layout/navbar :: navbar}"></div>

<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/admin/promotion">Danh sách phiếu giảm giá</a></li>
            <li class="breadcrumb-item"><a href="#">Thêm Phiếu giảm giá </a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Thêm Phiếu giảm giá</h3>
                <form id="myForm" class="row" th:action="@{/admin/promotion/add}" th:object="${promotion}"
                      method="post"
                      enctype="multipart/form-data">
                    <div class="form-group col-md-6">
                        <label class="control-label">Tên Chương trình khuyến mãi</label>
                        <input id="name" class="form-control" type="text" required th:field="*{name}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Giá trị giảm</label>
                        <input id="discount" class="form-control" type="number" min="0" max="80" required th:field="*{discount}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Đơn tối thiểu</label>
                        <input id="minValue" class="form-control" type="number" min="0" max="100000000" required th:field="*{minValue}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Số lượng</label>
                        <input id="quantity" class="form-control" type="number" min="0" max="10000" required th:field="*{quantity}">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ngày bắt đầu</label>
                        <input id="start-date" type="datetime-local" required th:field="*{startDate}" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ngày kết thúc</label>
                        <input id="end-date" type="datetime-local" required th:field="*{endDate}" class="form-control">
                    </div>
                    <div class="col">
                        <button class="btn btn-save mr-2 submit-btn" type="submit">Lưu lại</button>
                        <a class="btn btn-cancel ml-2" href="/admin/promotion">Hủy bỏ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div th:if="${message.status != null}">
    <div id="myAlert" class="alert alert-dismissible fade show position-fixed"
         style="top: 120px; right: 30px;width: 400px; height: 50px" th:classappend="${message.type}">
        <p th:text="${message.message}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<script src="/assets/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main1.js"></script>
<!--===============================================================================================-->
<script src="/assets/assets/js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/assets/js/plugins/chart.js"></script>

<script type="text/javascript" src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/dataTables.bootstrap.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript">
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(".submit-btn").on("click", function (event) {
            event.preventDefault();

            var name = document.getElementById("name").value;
            var discount = parseFloat(document.getElementById("discount").value);
            var minValue = parseInt(document.getElementById("minValue").value);
            var quantity = parseInt(document.getElementById("quantity").value);
            var startDate = new Date(document.getElementById("start-date").value);
            var endDate = new Date(document.getElementById("end-date").value);
            var now = new Date();

            if (name.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập tên chương trình khuyến mãi."
                });
                return;
            }

            if (discount < 0 || discount > 80 || isNaN(discount)) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Giá trị giảm không hợp lệ."
                });
                return;
            }

            if (minValue < 0 || minValue > 100000000 || isNaN(minValue)) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Đơn tối thiểu không hợp lệ."
                });
                return;
            }

            if (quantity < 0 || quantity > 10000 || isNaN(quantity)) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Số lượng không hợp lệ."
                });
                return;
            }

            if (startDate < now) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại."
                });
                return;
            }

            if (endDate < startDate) {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Ngày kết thúc phải lớn hơn hoặc bằng ngày bắt đầu."
                });
                return;
            }

            // Hiển thị hộp thoại xác nhận
            Swal.fire({
                title: "Xác nhận",
                text: "Bạn đã chắc chắn chưa, không hối hận chứ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Chắc chắn",
                cancelButtonText: "À mà thôi",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng xác nhận, chuyển hướng đến URL xóa
                    document.getElementById("myForm").submit();
                }
            });
        });
    });
</script>
<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    var myAlert = document.getElementById("myAlert");
    // Tự đóng thông báo sau 5 giây
    setTimeout(function () {
        myAlert.style.display = "none";
    }, 5000); // 5000 ms = 5 giây
</script>
<script>
    // Lấy các phần tử input
    const startDateInput = document.getElementById('start-date');
    const endDateInput = document.getElementById('end-date');

    // Sử dụng sự kiện onchange để kiểm tra ngày khi người dùng thay đổi giá trị
    startDateInput.addEventListener('change', function () {
        const startDate = new Date(startDateInput.value);
        const currentDate = new Date();

        if (startDate < currentDate) {
            alert('Ngày bắt đầu không được nhỏ hơn ngày hiện tại');
            startDateInput.value = ''; // Xoá giá trị nếu không hợp lệ
        }
    });
    endDateInput.addEventListener('change', function () {
        const startDate = new Date(startDateInput.value);
        const endDate = new Date(endDateInput.value);
        if (endDate < startDate) {
            alert('Ngày kết thúc không được nhỏ hơn ngày bắt đầu');
            endDateInput.value = ''; // Xoá giá trị nếu không hợp lệ
        }
    });
</script>
</body>

</html>