<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->

<!--<table class="table table-hover table-bordered" id="sampleTable">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>STT</th>-->
<!--        <th>Id</th>-->
<!--        <th>TP</th>-->
<!--        <th>Huyen</th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:each="x,arr : ${items}">-->
<!--        <td th:text="${arr.index + 1}"></td>-->
<!--        <td th:text="${x.id}"></td>-->


<!--        <td th:text="${x.province}"></td>-->
<!--        <td th:text="${x.district}"></td>-->


<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <!--    =====================-->

    <link rel="stylesheet" href="/assets/vendor/select2/select2.css">
    <link rel="stylesheet" href="/assets/vendor/select2/select2.min.css">


    <style>

        #imageContainer {
            display: flex;
            flex-wrap: wrap;
        }

        .imagePreview {
            margin: 10px;
            position: relative;
        }

        .deleteButton {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }

        .uploadButton {
            cursor: pointer;
            background-color: #0f083b;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 5px 10px;
            margin-top: 10px;
        }

        .select2-container .select2-selection__choice {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        .select2-selection__choice--selected {
            background-color: #0058f6; /* Màu nền xám khi chọn */
            color: #ffffff; /* Màu chữ trắng khi chọn */
            border: 1px solid #0a0202; /* Viền khi chọn */
            border-radius: 5px; /* Góc bo tròn khi chọn */
        }

        /* Đổi màu nền khi hover tag */
        .select2-container .select2-selection__choice:hover {
            background-color: #0056b3;
        }

        /* Đổi màu nền khi click vào tag */
        .select2-container .select2-selection__choice.select2-selection__choice--selected {
            background-color: #0056b3;
        }

        /* Đổi màu nền input khi nhập dữ liệu */
        .select2-container .select2-selection--multiple .select2-selection__rendered {
            background-color: #ffffff;
            padding: 5px;
        }

        /* Đổi màu nền icon xóa tag */
        .select2-container .select2-selection__choice__remove {
            color: #fff;
        }

    </style>

</head>
<body onload="time()" class="app sidebar-mini rtl">
<div th:replace="~{layout/navbar :: navbar}"></div>

<main class="app-content">

    <div class="col-sm-2">
        <a class="btn btn-add btn-sm" data-toggle="modal" data-target="#addthuonghieu"><i
                class="fas fa-folder-plus"></i> Thêm địa chỉ</a>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Địa chỉ khách hàng</h3>


                <!--                <table class="table table-hover table-bordered" id="sampleTable">-->
                <!--                    <thead>-->
                <!--                    <tr>-->

                <!--                        <th>TP</th>-->
                <!--                        <th>Huyen</th>-->
                <!--                        <th>KH</th>-->

                <!--                    </tr>-->
                <!--                    </thead>-->
                <!--                    <tbody>-->
                <!--                    <tr th:each="x,arr : ${items}">-->

                <!--                        <td th:text="${x.province}"></td>-->
                <!--                        <td th:text="${x.district}"></td>-->
                <!--&lt;!&ndash;                        <td th:text="${x.user.Id}"></td>&ndash;&gt;-->


                <!--                    </tr>-->
                <!--                    </tbody>-->
                <!--                </table>-->


                    <div class="card" th:each="x,arr : ${items}">
                        <div class="card-body">

                            <div style="color:#0b93ff;" th:if="${x.status} == 'on'">Địa chỉ mặc định</div>

                            <div th:text="${x.user.name}"></div>
                            <div th:text="${x.user.phoneNumber}"></div>


                            Địa chỉ:
                            <div th:text="${x.street} + ','+ ${x.ward} + ' '+',' + ${x.district} + ','+ ${x.province}"></div>
                            <!--                       <div  th:text="${x.province}"></div>-->
                            <!--                        <div th:text="${x.district}"></div>-->
                            <!--                        th:action="@{/admin/customer/update(id=${att.Id})}" method="post" th:object="${att}"-->
                            <div style="color:#0b93ff;" th:if="${x.status} == 'off'">
                                <button class="btn btn-save" type="submit">Cập nhật</button>
                            </div>

                        </div>
                    </div>


            </div>
        </div>
    </div>


</main>

<div class="modal fade" id="addthuonghieu" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <div class="form-group  col-lg-12">
              <span class="thong-tin-thanh-toan">
                <h5>Thêm mới địa chỉ </h5>
              </span>
                </div>
                <!--                <form action="/admin/add/address"  method="post" th:object="${att}">-->

                <form action="/admin/add/address" method="post" th:object="${att}">

                    <!--                    <input type="text"  th:value="${idKH}" th:field="*{user}">-->

                    <!--                    <p>Id: <span th:value="${id}" th:field="*{user}"></span></p>-->

                    <input type="hidden" name="user" th:value="${user.Id}"/>


<!--                    <div class="form-group col-lg-12">-->
<!--                        <label class="control-label">Tỉnh/Thành phố</label>-->
<!--                        <input class="form-control" th:field="*{province}" type="text" required>-->
<!--                    </div>-->

                    <div class="form-group col-md-8">
                        <label class="control-label">Tỉnh/Thành phố <label style="color:red;">*</label></label>
                        <!--                        <input class="form-control" type="text" required th:field="*{province}" id="thanhPho">-->
                        <select class="form-control " id="city" aria-label=".form-select-sm" th:field="*{province}">
                            <option value="Name" selected>Chọn tỉnh thành</option>
                        </select>
                    </div>



<!--                    <div class="form-group col-lg-12">-->
<!--                        <label class="control-label">Quận/Huyện</label>-->
<!--                        <input class="form-control" th:field="*{district}" type="text" required>-->
<!--                    </div>-->

                    <div class="form-group col-md-8">
                        <label class="control-label">Quận/Huyện <label style="color:red;">*</label></label>
                        <!--                        <input class="form-control" type="text" required th:field="*{district}" id="quanHuyen">-->
                        <select class="form-control " id="district" aria-label=".form-select-sm" th:field="*{district}">
                            <option value="" selected>Chọn quận huyện</option>
                        </select>
                    </div>


<!--                    <div class="form-group col-lg-12">-->
<!--                        <label class="control-label">Xã</label>-->
<!--                        <input class="form-control" th:field="*{ward}" type="text" required>-->
<!--                    </div>-->

                    <div class="form-group col-md-8">
                        <label class="control-label">Phường/Xã <label style="color:red;">*</label></label>
                        <!--                        <input class="form-control" type="text" required th:field="*{ward}" id="phuongXa">-->
                        <select class="form-control " id="ward" aria-label=".form-select-sm" th:field="*{ward}">
                            <option value="" selected>Chọn phường xã</option>
                        </select>
                    </div>


                    <div class="form-group col-lg-8">
                        <label class="control-label">Đường <label style="color:red;">*</label></label>
                        <input class="form-control" th:field="*{street}" type="text" required>
                    </div>

                    <BR>
                    <button class="btn btn-save ml-3" type="submit">Lưu lại</button>
                    <a class="btn btn-cancel ml-3" data-dismiss="modal" href="#">Hủy bỏ</a>
                    <BR>
                </form>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
        url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
        method: "GET",
        responseType: "application/json",
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
        renderCity(result.data);
    });

    function renderCity(data) {
        for (const x of data) {
            citis.options[citis.options.length] = new Option(x.Name, x.Name);
        }
        citis.onchange = function () {
            district.length = 1;
            ward.length = 1;
            if(this.value != ""){
                const result = data.filter(n => n.Name === this.value);

                for (const k of result[0].Districts) {
                    district.options[district.options.length] = new Option(k.Name, k.Name);
                }
            }
        };
        district.onchange = function () {
            ward.length = 1;
            const dataCity = data.filter((n) => n.Name === citis.value);
            if (this.value != "") {
                const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                for (const w of dataWards) {
                    wards.options[wards.options.length] = new Option(w.Name, w.Name);
                }
            }
        };
    }
</script>




<!--<script type="text/javascript" src="/assets/js/plugins/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="/assets/js/plugins/dataTables.bootstrap.min.js"></script>-->


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main1.js"></script>
<!--===============================================================================================-->
<script src="/assets/assets/js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/assets/js/plugins/chart.js"></script>
<script src="/assets/vendor/select2/select2.js"></script>
<script src="/assets/vendor/select2/select2.min.js.js"></script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        $(".submit-button").on("click", function (event) {
            event.preventDefault();
            var tenKH = document.getElementById("tenKH").value;
            var sdt = document.getElementById("sdt").value;
            var email = document.getElementById("email").value;
            var thanhPho = document.getElementById("thanhPho").value;
            var quanHuyen = document.getElementById("quanHuyen").value;
            var phuongXa = document.getElementById("phuongXa").value;
            var duong = document.getElementById("duong").value;
            // var now = new Date();

            if (tenKH.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập tên khách hàng."
                });
                return;
            }

            if (sdt.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập số điện thoại khách hàng."
                });
                return;
            }


            if (email.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập email khách hàng."
                });
                return;
            }

            if (thanhPho.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập thành phố ."
                });
                return;
            }
            if (quanHuyen.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập quận/huyện."
                });
                return;
            }


            if (phuongXa.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập phường/xã."
                });
                return;
            }


            if (duong.trim() === "") {
                Swal.fire({
                    icon: "error",
                    title: "Lỗi",
                    text: "Vui lòng nhập đường/ngõ/xóm."
                });
                return;
            }

            // Hiển thị hộp thoại xác nhận
            Swal.fire({
                title: "Xác nhận",
                text: "Bạn đã chắc chắn chưa, không hối hận chứ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Chắc chắn",
                cancelButtonText: "À mà thôi",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Nếu người dùng xác nhận, chuyển hướng đến URL xóa
                    document.getElementById("myForm").submit();
                }
            });
        });
    });
</script>


<!--===============================================================================================-->
<script type="text/javascript">
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>
<script>
    const fileInput = document.getElementById('fileInput');
    const imageContainer = document.getElementById('imageContainer');

    fileInput.addEventListener('change', () => {
        // Kiểm tra và giới hạn số lượng tệp được chọn
        if (fileInput.files.length > 5) {
            alert('Chỉ được chọn tối đa 5 ảnh.');
            fileInput.value = ''; // Xóa chọn tệp
            return;
        }

        // Xóa các ảnh hiện có
        while (imageContainer.firstChild) {
            imageContainer.removeChild(imageContainer.firstChild);
        }

        const files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const imagePreview = document.createElement('div');
            imagePreview.className = 'imagePreview';

            const img = document.createElement('img');
            img.src = URL.createObjectURL(file);
            img.style.maxWidth = '200px';
            img.style.maxHeight = '200px';

            const deleteButton = document.createElement('button');
            deleteButton.innerHTML = 'x';
            deleteButton.className = 'deleteButton';
            deleteButton.addEventListener('click', () => {
                imageContainer.removeChild(imagePreview);
            });

            imagePreview.appendChild(img);
            imagePreview.appendChild(deleteButton);

            imageContainer.appendChild(imagePreview);
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('.js-example-tags').select2({
            tags: false
        });
    });
</script>
<script>
    // Lấy tham chiếu đến thông báo Bootstrap
    var myAlert = document.getElementById("myAlert");

    // Tự đóng thông báo sau 5 giây
    setTimeout(function () {
        myAlert.style.display = "none";
    }, 5000); // 5000 ms = 5 giây
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".delete-link").on("click", function (event) {
            event.preventDefault();
            var deleteLink = $(this).attr("href");

            Swal.fire({
                title: "Xác nhận",
                text: "Bạn đã chắc chắn chưa, không hối hận chứ ?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Chắc chắn",
                cancelButtonText: "À mà thôi",
            }).then((result) => {
                if (result.value) {
                    // Nếu người dùng xác nhận, chuyển hướng đến URL xóa
                    window.location.href = deleteLink;
                }
            });
        });
    });
</script>
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        // Bắt sự kiện click trên nút Submit-->
<!--        $(".submit-button").on("click", function (event) {-->
<!--            event.preventDefault();-->
<!--            const form = document.getElementById("myForm");-->

<!--            Swal.fire({-->
<!--                title: "Xác nhận",-->
<!--                text: "Bạn đã chắc chắn chưa, không hối hận chứ ?",-->
<!--                icon: "warning",-->
<!--                showCancelButton: true,-->
<!--                confirmButtonText: "Chắc chắn",-->
<!--                cancelButtonText: "À mà thôi",-->
<!--            }).then((result) => {-->
<!--                if (result.value) {-->
<!--                    // Nếu người dùng xác nhận, gửi biểu mẫu-->
<!--                    form.submit();-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!-- Include SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>

</html>