<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="shortcut icon" href="assets\images\favicon.ico">
  <!-- App css -->
  <link href="assets\css\bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
  <link href="assets\css\icons.min.css" rel="stylesheet" type="text/css">
  <link href="assets\css\app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">

</head>
<body>
<div class="account-pages my-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="text-center mb-4 mt-3">
              <a href="index.html">
                <span><img src="assets\images\logo-dark.png" alt="" height="30"></span>
              </a>
            </div>
            <form th:action="@{/forgot-password/user}" method="post" class="p-2">
              <div class="form-group">
                <label for="emailaddress">User name</label>
                <input class="form-control" type="text" id="emailaddress" name="username" placeholder="username">
              </div>
              <div class="mb-3 text-center">
                <button class="btn btn-primary btn-block" type="submit"> Sign In</button>
              </div>
            </form>
          </div>
          <!-- end card-body -->
        </div>
        <!-- end card -->
        <div class="row mt-4">
          <div class="col-sm-12 text-center">
            <p class="text-muted mb-0">Don't have an account? <a href="pages-register.html"
                                                                 class="text-dark ml-1"><b>Sign Up</b></a>
            </p>
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->

<!-- Vendor js -->
<script src="assets\js\vendor.min.js"></script>

<!-- App js -->
<script src="assets\js\app.min.js"></script>
</body>
</html>
